//MAIN ACCENT COLOR - GREEN

$main-accent-500: unquote("#75E900");
$main-accent-700: unquote("#47C200");


//MAIN BACKGROUND COLOR - GRAY

$main-bg-800: unquote("#343A40");
$main-bg-500: unquote("#506374");
$main-bg-200: unquote("#B6C4D1");
$main-bg-50: unquote("#E6EEF8");