//MAIN ACCENT COLOR - GREEN

$main-accent-200: unquote("#72e6e8");

//MAIN COMPLIMENTARY COLOR - RED

$main-complimentary-500: unquote("#F64533");


//MAIN BACKGROUND COLOR - GRAY

$main-bg-800: unquote("#343A40");
$main-bg-500: unquote("#506374");
$main-bg-200: unquote("#B6C4D1");
$main-bg-50: unquote("#E6EEF8");

$main-bg-200-transparent: rgba(182, 196, 209, 0.5);
$main-bg-800-transparent: rgba(52, 58, 64, 0.9);
$main-bg-800-transparent-more: rgba(52, 58, 64, 0.5);

$transparent-white: rgba(255, 255, 255, 0.5);