@import '../../../../static/styles/colors.scss';

.home-view-container {
    display: flex;
    padding: 20px;
    height: 100vh;
}

.home-view-intro {
    display: flex;
    padding: 40px;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.home-view-inner-intro {
    width: 65%;
    text-align: center;

    .home-view-heading {
        font-size: 40px;
        color: white;
    }
    
    .home-view-sub-heading {
        color: $main-bg-200;
    }
}