@import './static/styles/colors.scss';

.app {
    overflow-x: hidden;
    background: url(./static/assets/background.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}